<a href="https://colab.research.google.com/github/datanil/Assignments/blob/main/16th_Feb(MysqlAssignment).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ___Q1. What is a database? Differentiate between SQL and NoSQL databases.___

## ___Answer :___


A __database__ is an organized collection of data that is stored and managed electronically. It is designed to store large amounts of information in a way that allows for efficient storage, retrieval, and management of data. Databases can be used for a wide variety of applications, such as managing customer information, inventory, financial records, or scientific data. They can also be used for powering websites, mobile apps, and other software applications that require the storage and management of data. A database typically consists of tables, each of which contains a set of related data that can be accessed and manipulated using a query language. The data stored in a database can be organized in various ways, including hierarchical, network, or relational structures, depending on the specific needs of the application.

__1.Type :–__

SQL databases are primarily called as Relational Databases (RDBMS);
    Whereas NoSQL database are primarily called as non-relational or distributed database.

__2.Language :–__

SQL databases defines and manipulates data based structured query language (SQL). Seeing from a side this language is extremely powerful. SQL is one of the most versatile and widely-used options available which makes it a safe choice especially for great complex queries. But from other side it can be restrictive. SQL requires you to use predefined schemas to determine the structure of your data before you work with it. Also all of your data must follow the same structure. This can require significant up-front preparation which means that a change in the structure would be both difficult and disruptive to your whole system.
A NoSQL database has dynamic schema for unstructured data. Data is stored in many ways which means it can be document-oriented, column-oriented, graph-based or organized as a KeyValue store. This flexibility means that documents can be created without having defined structure first. Also each document can have its own unique structure. The syntax varies from database to database, and you can add fields as you go.

__3.Scalability :–__

In almost all situations SQL databases are vertically scalable. This means that you can increase the load on a single server by increasing things like RAM, CPU or SSD. But on the other hand NoSQL databases are horizontally scalable. This means that you handle more traffic by sharding, or adding more servers in your NoSQL database. It is similar to adding more floors to the same building versus adding more buildings to the neighborhood. Thus NoSQL can ultimately become larger and more powerful, making these databases the preferred choice for large or ever-changing data sets.

__4. Structure :–__

SQL databases are table-based on the other hand NoSQL databases are either key-value pairs, document-based, graph databases or wide-column stores. This makes relational SQL databases a better option for applications that require multi-row transactions such as an accounting system or for legacy systems that were built for a relational structure.

__5. Property followed :–__

SQL databases follow ACID properties (Atomicity, Consistency, Isolation and Durability) whereas the NoSQL database follows the Brewers CAP theorem (Consistency, Availability and Partition tolerance).

__6. Support :–__

Great support is available for all SQL database from their vendors. Also a lot of independent consultations are there who can help you with SQL database for a very large scale deployments but for some NoSQL database you still have to rely on community support and only limited outside experts are available for setting up and deploying your large scale NoSQL deployments.

------------------------------------------------------------------------------------------

# ___Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.___

## ___Answer :___

__DDL stands for Data Definition Language,__ which is a set of SQL commands used to define and manage the structure of a database. DDL commands are used to ___create, modify, and delete database objects such as tables, indexes, views, and procedures.___

__CREATE:__ The CREATE command is used to create a new database object, such as a table, index, view, or procedure. For example, the CREATE TABLE command is used to create a new table in the database, with the specified columns and data types.

__DROP:__ The DROP command is used to delete a database object, such as a table, index, view, or procedure. For example, the DROP TABLE command is used to delete a table from the database.

__ALTER:__ The ALTER command is used to modify the structure of a database object, such as a table, index, view, or procedure. For example, the ALTER TABLE command is used to add, modify, or delete columns in a table.

__TRUNCATE:__ The TRUNCATE command is used to delete all the data from a table, while keeping the table structure intact. It is a faster alternative to the DELETE command, as it removes all the data from the table in a single operation.

___Here is example showing the functions of CREATE , DROP , ALTER , and TRANCATE___

__CREATE :__

___#this creates the database named mydb___

    CREATE DATABASE if not exists mydb;

-----------------------------------------------------------------------------------------

___#It creates the tables which contains id which is unique that is why it is said to be as primary key , name and email#___

    CREATE TABLE if not exists customers(
        id INT PRIMARY KEY,
        name VARCHAR(50),
        email VARCHAR(50),
    );

-----------------------------------------------------------------------------------------

___#This will delete the specific table here , it deletes the customer table___

    DROP TABLE customers;

-----------------------------------------------------------------------------------------

___#This command modifies the structure of the database,It will add a new coloumn called "phone number " to the "customer table" that was created earlier.___

    ALTER TABLE customers ADD phone_number INT(10);

-----------------------------------------------------------------------------------------

___#This will delete all the data from a table , while keeping the table intact.___

    TRUNCATE TABLE customers;

-----------------------------------------------------------------------------------------

# ___Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.___

## ___Answer :___

DML stands for Data Manipulation Language, which is a set of SQL commands used to manipulate data in a database. DML commands are used to insert, update, and delete data from tables in a database.

__INSERT:__ The INSERT command is used to insert new rows of data into a table. For example, the following SQL statement inserts a new row into the "customers" table with the values for the "id", "name", "email", and "phone" columns:

___For example :___

    INSERT INTO customers(id , name , email , phone_no)
    VALUES(01 , 'Ramesh Sharma', 'ramesh92@gmail.com', '9088345798'),
    (02 , 'Rohit Sen', 'rohit94@gmail.com', '9088345778');

__UPDATE:__ The UPDATE command is used to modify existing rows of data in a table. For example, the following SQL statement updates the surname for the customer with an ID of 1 in the "customers" table:

___For example :___

    UPDATE customers
    SET name = 'Ramesh Verma'
    WHERE id = 1;

__DELETE:__ The DELETE command is used to delete one or more rows of data from a table. For example, the following SQL statement deletes the row for the customer with an ID of 2 from the "customers" table:

___For example :___

    DELETE FROM customers
    WHERE id = 2;

-----------------------------------------------------------------------------------------

# ___Q4. What is DQL? Explain SELECT with an example.___

## ___Answer :___

__DQL stands for Data Query Language__, which is a set of SQL commands used to retrieve data from a database. DQL commands are used to select and query data from tables in a database.

The SELECT statement is used in SQL to query data from one or more tables in a database. It is the most commonly used DQL (Data Query Language) command.

the SELECT statement is used to retrieve data from one or more tables in a database based on specified conditions. It allows you to select specific columns from a table, as well as specify conditions for filtering the data.

___For example :___  The basic syntax for the SELECT statement is as follows:

        SELECT column1, column2,
        FROM table_name
        WHERE condition;

"column1, column2," are the names of the columns that we want to retrieve data from.
"table_name" is the name of the table that we want to retrieve data from.
"WHERE" is an optional keyword that allows you to specify a condition for selecting data.

The SELECT statement allows you to retrieve data from a table based on specified conditions. You can select specific columns from a table, as well as specify conditions for filtering the data.

Here are some examples of how the SELECT statement is used in SQL:

___To retrieve all columns and rows from a table, you can use the following syntax:___

        SELECT *
        FROM table_name;

To retrieve specific columns from a table, you can list the column names after the SELECT keyword:

        SELECT column1, column2,
        FROM table_name;

To filter data based on a condition, you can use the WHERE keyword followed by the condition:

    SELECT column1, column2,
    FROM table_name
    WHERE condition;

For example, let's say we have a table called "employees" with columns "id", "name", "age", "salary", and "department". To retrieve the names and salaries of all employees who work in the "Sales" department, we can use the following SQL statement:

    SELECT name, salary
    FROM employees
    WHERE department = 'Sales';

This SQL statement will retrieve the "name" and "salary" columns from the "employees" table, but only for those employees whose "department" column is equal to "Sales".

-----------------------------------------------------------------------------------------

# ___Q5. Explain Primary Key and Foreign Key.___

## ___Answer :___

A primary key is a unique identifier for a row of data in a table, while a foreign key is a column or set of columns that refers to the primary key of another table. They are both used to establish relationships between tables and ensure data integrity in relational databases.

__PRIMARY KEY :__

A primary key is a unique identifier for a row of data in a table. It is a column or set of columns that uniquely identifies each record in the table. A primary key constraint ensures that the value in the column or set of columns is unique and cannot be null. A table can have only one primary key.

___For example :___

In a table of "employees", the primary key may be the employee ID. Each employee in the table would have a unique employee ID, which would be used to identify them.

__FOREIGN KEY :__

A foreign key is a column or set of columns in a table that refers to the primary key of another table. It establishes a relationship between two tables, where the foreign key in one table is a reference to the primary key in another table. The foreign key constraint ensures that the values in the column or set of columns match the values in the primary key of the related table.

___For example :___

In a table of "orders", there may be a foreign key column that references the primary key of the "customers" table. This would establish a relationship between the two tables, where each order would be associated with a specific customer.

___Following example shows the implementation of PRIMARY KEY & FOREIGN KEY :___

here's an example SQL command that creates the "students" and "courses" tables, establishes a primary key constraint on the "student ID" column in the "students" table, and establishes a foreign key constraint on the "student ID" column in the "courses" table:

    CREATE TABLE students (
      student_id INT PRIMARY KEY,
      name VARCHAR(50),
      email VARCHAR(50)
    );

    CREATE TABLE courses (
      course_id INT PRIMARY KEY,
      course_name VARCHAR(50),
      instructor_name VARCHAR(50),
      student_id INT,
      FOREIGN KEY (student_id) REFERENCES students(student_id)
    );

In this example, the ___"students"___ table has a primary key constraint on the ___"student_id"___ column, which is specified using the __PRIMARY KEY__ keyword after the column definition.

The ___"courses"___ table has a foreign key constraint on the ___"student_id"___ column, which is specified using the __FOREIGN KEY__ keyword and the __REFERENCES__ keyword to specify the referenced table and column.

The __REFERENCES__ keyword is followed by the name of the referenced table and the name of the referenced column in parentheses. In this case, the referenced table is ___"students"___ and the referenced column is ___"student_id".___

By using these constraints, we can ensure that data is consistent between the two tables, and that each course is associated with a valid student ID from the "students" table.

-----------------------------------------------------------------------------------------

# ___Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.___

## ___Answer :___

In [ ]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test2")
mydb.close()

![code.png](attachment:7d9302a6-990c-471e-9922-8d184f1be145.png)

In Python, the cursor() and execute() methods are used to interact with databases using the database API (DB-API) that defines a standard interface for accessing relational databases. These methods are used specifically when working with database connections using the mysql-connector-python module.

__cursor() :__ The __"cursor()"__ method creates a cursor object which is used to execute database queries and manage transactions. Once you establish a connection to the database, you can create a cursor object using the __"cursor()"__ method of the __"MySQLConnection"__ object.

___For example:___

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
# Create a cursor object
mycursor = mydb.cursor()

__execute() :__ The __"execute()"__ method is used to execute SQL queries on the database. You can call the __"execute()"__ method on the cursor object and pass the SQL query as a parameter to it. The __"execute()"__ method returns a result set object that you can use to fetch the results of the query.

___For example:___

In [ ]:
# Execute a SELECT query
mycursor.execute("select c1 , c5  from test2.test_table")

# Fetch the results of the query & Print the results
for i in mycursor.fetchall():
    print(i)
mydb.close()

![Untitled.png](attachment:2c68f5c3-d66b-40c9-b583-9c0b5ef427b1.png)

-----------------------------------------------------------------------------------------

# ___Q7. Give the order of execution of SQL clauses in an SQL query.___

## ___Answer :___

___The order of execution of SQL clauses in an SQL query is as follows:___

__FROM:__ This clause specifies the table or tables from which the data will be selected.

__WHERE:__ This clause filters the data based on certain conditions.

__GROUP BY:__ This clause groups the data by one or more columns.

__HAVING:__ This clause filters the grouped data based on certain conditions.

__SELECT:__ This clause specifies the columns to be selected and displayed in the result set.

__DISTINCT:__ This clause removes duplicate rows from the result set.

__ORDER BY:__ This clause sorts the result set by one or more columns.

__LIMIT/OFFSET:__ These clauses limit the number of rows returned and/or specify an offset for the starting row.

-----------------------------------------------------------------------------------------