<a href="https://colab.research.google.com/github/datanil/Assignments/blob/main/4th_Feb_Assignment_(Map%2CReduce_%26_Filter_function).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**_____________________ ASSIGNMENT ON MAP, REDUCE & FILTER FUNCTIONS____________________**

Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.


[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

*ANSWER :*

In [ ]:
players = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [ ]:
players.sort( key = lambda players: players[1])

In [ ]:
players

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.


[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

*ANSWER :*

In [ ]:
 sq = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(map(lambda x: x**2 , sq))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions


Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

*ANSWER :*

In [ ]:
s = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
tuple(map(lambda s: str(s),s))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4.  Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

*ANSWER :*

In [ ]:
product_list = list(range(1,26))

In [ ]:
product_list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [ ]:
from functools import reduce

In [ ]:
reduce(lambda x,y: x*y , product_list)

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.


[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

*ANSWER :*

**USING LAMBDA FUNCTION**

In [ ]:
l = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [ ]:
list(filter(lambda x: x % 6 == 0, l))

[6, 60, 90, 120]

**USING EXTERNAL FUNCTION**

In [ ]:
def div(n):
    return n % 2 == 0 and n % 3 == 0

In [ ]:
list(filter(div, l))

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.


['python', 'php', 'aba', 'radar', 'level']

*ANSWER :*

In [ ]:
n = ['python', 'php', 'aba', 'radar', 'level']

In [ ]:
list(filter(lambda x : x == ''.join(reversed(x)), n))

['php', 'aba', 'radar', 'level']

**___________________________________________ END _________________________________________________**